@font-face{
    font-family: "Playfair Display";
    src: url(/Fuentes/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face{
    font-family: "Lora";
    src: url(/Fuentes/Lora-VariableFont_wght.ttf);
}
/*header*/

#colorHead{
    background-color: #5d7bce;
}

#bordeBotHead{
    border: 1px solid #5d7bce;
}

/*hover del header*/

/*main*/

.centrar{
    margin: 0 auto;
    width: 80%;
}

/*enlaces*/

.enlaces{
    display: block;
    color: inherit;
    text-decoration: none;
}

/*h2 de las páginas*/

.titDos{
    text-align: center;
    margin: 20px;
    font-family:Playfair Display;
}

/*página contacto*/

.contentContacto{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.formulario{
    width: 50%;
}

.mapa{
    width: 50%;
}

iframe{
    width: 100%;
    height: 550px;
}

#btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*página faq*/

#titFAQ{
    margin-top: 20px;
}

/*página jugadores*/

#margenTarj{
    margin-top: 20px;
    margin-bottom: 40px;
}

.listaJugadores{
    margin-top: 10px;
    list-style: inside;
    display: inline-block;
    margin-right: 40px;
}

/*página Sobre nosotros*/

#sepCaj{
    margin-bottom: 40px;
}

#cent3{
    margin: 20px;
}

#texto{
    text-align: left;
}

/*página torneos*/

.sectionFlex{
    display: flex;
}

/*página cookies*/

.titTres{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.listCookies{
    list-style: inside;
}

.listCookies2{
    list-style: circle
}

/*index*/

.imgLogo{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.titPrinc{
    text-align: center;
    font-family:Playfair Display;
}

p{
    font-family: Lora;
}

