@font-face{
    font-family: "Playfair Display";
    src: url(/Fuentes/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face{
    font-family: "Lora";
    src: url(/Fuentes/Lora-VariableFont_wght.ttf);
}
/*header*/

#colorHead{
    background-color: #1E2B3E;
    position: sticky;
    top: 0;
    z-index: 5;
}

#bordeBotHead{
    border: 1px solid #1E2B3E;
}

/*hover del header*/

#ocultoM div div ol li a:hover{
    color: #DFA24E !important;
}

/*main*/

.centrar{
    margin: 0 auto;
    width: 80%;
}

/*enlaces*/

.enlaces{
    display: block;
    color: inherit;
    text-decoration: none;
}

/*h2 de las páginas*/

.titDos{
    text-align: center;
    margin: 20px;
    font-family:Playfair Display;
    border-bottom: solid 2px #DFA24E;
}

/*página contacto*/

.contentContacto{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.formulario{
    width: 50%;
}

.mapa{
    width: 50%;
}

iframe{
    width: 100%;
    height: 550px;
}

#btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*página faq*/

#titFAQ{
    margin-top: 20px;
}

/*página jugadores*/

#margenTarj{
    margin-top: 20px;
    margin-bottom: 40px;
}

.listaJugadores{
    margin-top: 10px;
    list-style: inside;
    display: inline-block;
    margin-right: 40px;
}

/*página Sobre nosotros*/

.sepCaj{
    margin-bottom: 40px;
}

#cent3{
    margin: 20px;
}

.texto{
    text-align: left;
}

/*página torneos*/

.sectionFlex{
    display: flex;
}

/*página cookies*/

.titTres{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Lora;
}

.listCookies{
    list-style: inside;
}

.listCookies2{
    list-style: circle
}

/*index*/
.titPrinc{
    text-align: center;
}

p{
    font-family: Lora;
}

/*decoración index*/

.noticiaPrincipal{
    display: flex;
    gap: 20px;
}

.cajNoticia{
    flex:2;
    border-top:5px;
}

.contenidoNoticia{
    padding:15px;
}

.noticiaLat{
    display:flex;
    flex:1;
    flex-direction:column;
    gap:20px;
}

.noticLatContent{
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 12px;
}

.separar{
    margin-top:20px;
}

.colorenlacSmall{
    text-decoration: none;
    color: inherit;
}

.imgMainTam{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px solid black;
}

/*hovers en noticias*/

.noticLatContent:hover{
    transform:translateY(-4px);box-shadow:0 8px 20px #DFA24E;
}

.card:hover{
    transform:translateY(-4px);box-shadow:0 8px 20px #DFA24E;

}

/*aviso legal*/
.margenAviso{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*post detalle*/

.titCuatro{
    font-family: Lora;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*convertir los h5 que tengo en h3*/

.titCincoaTres{
    font-size: 1.25rem;
    font-family: Lora;
}

/*query menu movil a 360px*/

#icono{
    display: none;
}
#menu{
    display: none;
}

@media (max-width: 360px){

    #icono{
        display: block;
    }

    #ocultoM{
        display: none;
    }
    
    nav div div ol{
        flex-direction: column;
    }

    #menu:checked~nav{
        display: block;
    }
}
/*query página jugadores*/

@media (max-width: 888px){
    .centrar{
        width: 90%;
    }

    .listaJugadores{
        margin-right: 0px;
    }
}

/*query contacto*/

@media (max-width: 1100px){
    .contentContacto{
        flex-direction: column;
        align-items: center;
    }

    iframe{
        display: none;
    }
}

@media (max-width:570px){

    .formulario{
        width: 100%;
    }

    .mapa{
        width: 100%;
    }
}

/*query index 710 se ve bien, bajar debajo cada uno cuando se vea mal*/

/*noticias*/

.migas{
    text-decoration: none;
    color: inherit;
}

.migas:hover{
    color: #DFA24E;
}

.breadcrumb{
    margin-top: 10px;
}

.centTith3{
    text-align: center;
}

.sepTit{
    margin-top: 30px;
}

/*blog*/
.contentImagen {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contentImagen img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}